<!-- iterate through all the JSON data from the home.service.ts -->
<div style="margin-top: auto;">
    <div class="row">
        <div class="card col-lg-6" *ngFor="let item of users" style="margin-top: 50px;">
            <div class="card-body col-lg-12">
                <div class="row" style="border: solid;border-color: rgb(8, 8, 8);margin-top: 50px;">
                    <div class="col-lg-5">
                        <!-- PROPERTY BINDING -->
                        <img [src]="item.image">
                    </div>
                    <div class="col-lg-7" style="margin-top: 30px;">
                        <div>
                            <!-- CLASS BINDING-ngClass,EVENT BINDING-(click),PIPES -->
                            {{item.name.firstname+ " " + item.name.lastname | uppercase}}
                            <span [ngClass]="getClass()" (click)="showUserDetailsToggle()"></span>
                        </div>
                        <!-- TOGGLE EFFECT - SHOW AND HIDE CUSTOMERS DETAILS -->
                        <div [hidden]="userDetail">
                            <p>{{item.username | uppercase}}</p>
                            <p>{{item.email}}</p>
                            <p>{{item.phone}}</p>
                            <p>{{item.address.city}}</p>
                            <p>{{item.address.zipcode}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
 
 
 
 
 
 <!-- String interpolation -->
<!-- <h1 class="fame">Helllo This is {{title}}</h1>
<h3 id="hey">My name is {{name}}</h3>

<img src="assets/imag2.jpg" alt="imagehere" height="100" width="100">
<br> -->

<!-- Property binding -->
<!-- <img [src]="image" alt="" height="100" width="100">
<br> -->

<!-- Event binidng  -->
<!-- <button (click)="onClick()">Event Binding</button><br><br>
<br>
<button (click)="onClick1()">Event Binding-console</button>
<br> -->
<!-- ngModel directive for two way modelling -->
<!-- <h4>Anything entered here will be displayed</h4>
<input [(ngModel)]="randomNumber" type="text">
<br>
<h4>displayed here :</h4><br>
<h4>{{randomNumber}}</h4>
<hr>
<br>
<h3>ngFor Directive (loops)</h3>
<ul>
    <li *ngFor="let course of courses">
        {{course.courseid}} - {{course.coursename}}
    </li>
</ul> -->


<!-- <input [(ngModel)]="mycolor" type="text"> -->
<!-- <input [(ngModel)]="bgcolor" type="text"> -->
<!-- <div [ngStyle]="{'color':mycolor}">Change the color</div>

<hr> -->
<!--Multiple Styles-->
<!-- <p [ngStyle]="{'color': 'purple',
                 'font-size': '24px',
                 'font-weight': 'bold',
                 'font-family':'cursive',
                  'text-shadow':'3px 2px 3px yellow'}">
    Multiple styles
</p>
<hr> -->
<!-- ngStyle Demo -->
<!-- <ul *ngFor="let person of people">
    <li [ngStyle]="{'font-size.px':16}" [style.color]="getColor(person.country)">{{ person.name }}-({{ person.country
        }})
    </li>
</ul>
<hr> -->
<!-- ngClass Demo -->
<!-- <ul *ngFor="let person of people">
    <li [class.text-danger]="person.country === 'UK'" [class.text-info]="person.country === 'USA'"
        [class.text-success]="person.country === 'IN'" [class.text-primary]="person.country === 'AUS'">{{ person.name }} ({{ person.country }})
    </li>
</ul>
<br> -->
<!--ngClass-->
<!-- <div class="row" class="container-fluid">
    <div [ngClass]="cssArray"> Red Text with Size 20px : from component as object</div>
</div>

<hr> -->


