<div class="container">
  <div class="row">
    <div class="col">
      <!-- vue  -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/course_image/vue.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vue Js</h5>
          <p class="card-text">
            Vue. js is a progressive framework for JavaScript used to build web interfaces and one-page applications. Not just for web interfaces.</p>
          <a href="#" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- react  -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/course_image/react.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">React Js</h5>
          <p class="card-text">React is a JavaScript library developed by Facebook. Its aim is to allow developers to easily create fast user interfaces for websites and applications alike.</p>
          <a href="#" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- angular  -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/course_image/angular.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angulat Js</h5>
          <p class="card-text">AngularJS's data binding and dependency injection eliminate much of the code you would otherwise have to write.</p>
          <a href="#" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
    </div>
  </div>
</div>